<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>
</head>
<h1>BMI Calculator</h1>
<form action="http://localhost:3000/process-bmi" method="POST">
    <input type=" text" name="Name" placeholder="Enter your Name">
    <input type="text" name="Weight" placeholder="Enter your Weight(kg)">
    <input type="text" name="Height" placeholder="Enter your Height(m)">
    <input type="submit" name="submit" placeholder="Calculate">
    </input>
    </form>
</body>

</html>